.clickme,
.noclick
{
    font-size: 28gpx;
    font-family: Helvetica, "Times New Roman", sans-serif;
}
.clickme
{
    color: white;
    background-color: black;
}
.noclick
{
background-color: yellow;
}